.xs_admin_table > tbody > tr > td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

.xs_admin_table  > tbody > tr > th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}


.xs_admin_table > tbody > tr:nth-child(even) {
        background-color: #dddddd;
}

.xs_full_width {
        width: 100%;
}

.xs_text_center {
        text-align: center;
}

.xs_margin {
        margin: 16px 0px !important;
}


.xs_framework_obj_list_container > *{
        width:100%;
}
.xs_framework_obj_list_table {
        width: 100%;
        
}
